$font-roadRadio-regular: RoadRadio-Regular, sans-serif //400
$font-roadRadio-bold: RoadRadio-Bold, sans-serif //700
$font-roadRadio-black: RoadRadio-Black, sans-serif //900
$font-roboto-condensed: RobotoCondensed-Bold, sans-serif //700

$color-orange: #FCC054
$color-violet: #4E0154
$color-black: #0C1222
$color-white: #F0F0F0
$color-name: #522D1D
$oval-shadow-color: #07080D

$dots-opacity: 0.5
$btn-animation-speed: 1.2s
$player-animation-speed: 4s
body
  background-color: #0b3b3a
  overscroll-behavior: none
  font-family: $font-roadRadio-black
  img
    max-width: 100%
    height: auto
.main-link
  position: fixed
  width: 100%
  height: 100%
.land
  pointer-events: none
  background: url('../img/bg-1920.jpg') no-repeat 50% 50%/cover
  width: 100%
  height: 100%
  -webkit-tap-highlight-color: transparent
  position: relative
  overflow: hidden
  
  &__cricket
    position: absolute
    left: 800px
    top: 0
    bottom: 0
    width: 572px
    background-image: url('../img/cricket-desk.svg')

  &__header
    display: flex
    justify-content: space-between
    height: 106px
    max-width: 1920px
    width: 100%
    padding: 30px 40px 0
    margin: 0 auto
  &__buttons
    display: flex
    align-items: center
    gap: 16px
    font-family: $font-roboto-condensed
    padding-block: 6px
    font-size: 28px
  &__button
    border-radius: 4px
    border: 2px solid #FCC054
    text-align: center
    font-size: invert
    font-weight: 700
    line-height: normal
    text-transform: uppercase
    padding-inline: 32px
    display: flex
    align-items: center
    color: $color-orange
    transition: all .5s ease
    height: 100%
    z-index: 3
    pointer-events: initial
    &:hover
      background-color: $color-orange
      color: $color-violet
    &.active
      background-color: $color-orange
      color: $color-violet
      transition: all .5s ease
      &:hover
        background-color: #f5d49d
  &__bonus
    display: flex
    flex-direction: column
  &__welcome
    position: absolute
    left: 30px
    top: 230px
    bottom: 0
    padding: 72px 0px 0px 10px
    width: 784px
    display: flex
    justify-content: center

    background: url('../img/cricket.svg') no-repeat 0 0/contain
    background-image: none
  &__title
    position: relative
    text-align: center
    text-shadow: 0px 2px 10px rgba(7, 7, 19, 0.56)
    font-size: 80px
    font-weight: 900
    line-height: 89.5%
    text-transform: uppercase
    color: $color-white

  &__subtitle
    margin-top: 12px
    font-size: 42px
    color: $color-orange
    text-align: center
    text-transform: uppercase
    font-family: $font-roadRadio-regular

  &__link
    margin-top: 64px
    height: 70px
    padding: 0 35px
    font-size: 36px
    max-width: fit-content
    margin-inline: auto
    display: flex
    justify-content: center
    align-items: center
    border-radius: 144px
    color: $color-black
    font-family: $font-roadRadio-bold
    font-weight: 700
    text-transform: uppercase
    position: relative
    pointer-events: initial
    &::before
      content: "Get Bonus"
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      border-radius: 144px
      background: linear-gradient(180deg, #DC9133 0.21%, #D79236 23.78%, #FCC054 51.21%, #FDF08B 100.21%)
      transition: all 0.3s ease
    &::after
      content: "Get Bonus"
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      border-radius: 144px
      background: linear-gradient(0deg, #DC9133 0.21%, #D79236 23.78%, #FCC054 51.21%, #FDF08B 100.21%)
      opacity: 0
      visibility: hidden
      transition: all 0.3s ease
    &:hover
      &::before
        opacity: 0
        visibility: hidden
      &::after
        opacity: 1
        visibility: visible

  &__description
    margin-top: 24px
    font-size: 22px
    color: $color-orange
    text-align: center
    text-transform: uppercase
    font-family: $font-roadRadio-regular

  &__partners
    margin-block: auto 58px
    margin-inline: auto
    max-width: 513px

  &__players
    width: 820px
    height: 820px
    // max-height: 80%
    position: absolute
    bottom: 53px
    right: 73px
    // border: 1px dashed red
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center


  &__player
    width: 45%
    height: 43%
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    position: relative
    z-index: 1
    &--1
      position: relative
      animation: 4s infinite player-rotate-1 linear
      img
        position: relative
        z-index: 2
      &::before
        content: ''
        position: absolute
        top: -60px
        left: -160px
        width: 230px
        height: 239px
        background-image: url('../img/lines-1.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        animation: 8s infinite rotate-line linear
        z-index: 2
    &--2
      animation: 7s infinite player-rotate-2 linear
    &--3
      animation: 5s infinite player-rotate-3 linear
    &--4
      animation: 5s infinite player-rotate-4 linear
      position: relative
      img
        position: relative
        z-index: 2
      &::before
        content: ''
        position: absolute
        bottom: -60px
        right: -160px
        width: 230px
        height: 239px
        background-image: url('../img/lines-2.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center
        animation: 8s infinite rotate-line2 linear
        z-index: 1

  &__footer
    display: none
  &__shadow
    display: none
.pulse-btn
  animation: $btn-animation-speed infinite pulse-btn ease-in-out
.player
  position: relative
  top: 10px

  background: url('../img/player-1.png') no-repeat 0 50%/contain
  &__name
    position: absolute
    bottom: 6px
    left: 0
    right: 0
    text-align: center
    font-family: $font-roadRadio-bold
    color: $color-name
    font-size: 31px
    text-transform: uppercase

@keyframes pulse-btn
  0%, 100%
    transform: scale(1)
  50%
    transform: scale(1.07)

@keyframes rotate-line
  0%, 100%
    transform: rotate(5deg)
  50%
    transform: rotate(-15deg)

@keyframes rotate-line2
  0%, 100%
    transform: rotate(0deg)
  50%
    transform: rotate(-25deg)

// @keyframes rotate-line-tab-1
//   0%, 100%
//     transform: rotate(60deg)
//   50%
//     transform: rotate(40deg)
  
// @keyframes rotate-line-tab-2
//   0%, 100%
//     transform: rotate(-15deg)
//   50%
//     transform: rotate(0deg)
  



@keyframes player-rotate-1
  0%, 100%
    transform: rotate(-5deg)
  50%
    transform: rotate(0deg)
  
@keyframes player-rotate-2
  0%, 100%
    transform: rotate(0deg)
  50%
    transform: rotate(5deg)
  
@keyframes player-rotate-3
  0%, 100%
    transform: rotate(-5deg)
  50%
    transform: rotate(-10deg)
  
@keyframes player-rotate-4
  0%, 100%
    transform: rotate(5deg)
  50%
    transform: rotate(10deg)
  
