//- a(href="https://tds.favbet.partners").main-link
.land
  .land__header
    img(src="img/logo.svg", alt="lopebet").land__logo
    .land__buttons
      a(href="https://tds.favbet.partners").land__button sign up
      a(href="https://tds.favbet.partners").land__button.active sign in

  .land__welcome
    .land__bonus
      p.land__title Join the IPL<br>2025 Action
      p.land__subtitle Bet on Your Favorite Team
      a(href="https://tds.favbet.partners").land__link.pulse-btn Get Bonus
      p.land__description 350% WELCOME BETTING<br>BONUSES waiting for you
      img(src="img/partners.svg", alt="lopebet-partners").land__partners
  .land__cricket
  .land__players
    .land__player.land__player--1
      picture
        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/player-1-desk.png")
        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/player-1-tab.png")
        source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/player-1-mob.png")
        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/player-1-desk.png")
        img(src="img/player-1-desk.png" alt="player Virat Kohli")
    .land__player.land__player--2
      picture
        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/player-2-desk.png")
        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/player-2-tab.png")
        source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/player-2-mob.png")
        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/player-2-desk.png")
        img(src="img/player-2-desk.png" alt="player Travis Head")
    .land__player.land__player--3
      picture
        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/player-3-desk.png")
        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/player-3-tab.png")
        source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/player-3-mob.png")
        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/player-3-desk.png")
        img(src="img/player-3-desk.png" alt="player Sunil Narine")
    .land__player.land__player--4
      picture
        source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/player-4-desk.png")
        source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/player-4-tab.png")
        source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/player-4-mob.png")
        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/player-4-desk.png")
        img(src="img/player-4-desk.png" alt="player Sanju Samson")
  //- .land__shadow
  .land__footer
    p.land__description 350% WELCOME BETTING<br>BONUSES waiting for you
    a(href="https://tds.favbet.partners").land__link.pulse-btn Get Bonus
    img(src="img/partners.svg", alt="lopebet-partners").land__partners