//- a(href="https://tds.favbet.partners").main-link
.land
  .land__header
    img(src="img/logo.svg", alt="lopebet").land__logo
    .land__buttons
      a(href="https://tds.favbet.partners").land__button sign up
      a(href="https://tds.favbet.partners").land__button.active sign in

  .land__welcome
    .land__bonus
      p.land__title Join the IPL<br>2025 Action
      p.land__subtitle Bet on Your Favorite Team
      a(href="https://tds.favbet.partners").land__link.pulse-btn Get Bonus
      p.land__description 350% WELCOME BETTING<br>BONUSES waiting for you
      img(src="img/partners.svg", alt="lopebet-partners").land__partners
  .land__cricket
  .land__players
    //- picture
    //-     source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/players-desk.png")
    //-     source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/players-tab.png")
    //-     source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/players-mob.png")
    //-     source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/players-desk2.png")
    //-     img(src="img/players-desk.png" alt="Favbet")
  .land__shadow
  .land__footer
    p.land__description 350% WELCOME BETTING<br>BONUSES waiting for you
    a(href="https://tds.favbet.partners").land__link.pulse-btn Get Bonus
    img(src="img/partners.svg", alt="lopebet-partners").land__partners